<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.simplemusicplayer">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />


    <!-- Foreground Service（バックグラウンド再生）用 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Android 13+ で通知を出す場合（※Step=14以降で運用してもOK）
         先に入れておいてもビルドは問題ありません -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SimpleMusicPlayer">

        <!-- Player画面 -->
        <activity
            android:name=".PlayerActivity"
            android:exported="false" />

        <!-- 起動（マイリスト）画面 -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Step=13: 音楽再生用 Foreground Service -->
        <service
            android:name=".player.MusicPlaybackService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

    </application>

    <receiver
        android:name="androidx.media.session.MediaButtonReceiver"
        android:exported="false">
        <intent-filter>
            <action android:name="android.intent.action.MEDIA_BUTTON" />
        </intent-filter>
    </receiver>

</manifest>
